

<div class="container">
    <img src="/images/cinema.jpg" alt="cinema picture">
    <div class="container-2">
        <h1>Cinema Ironhack</h1>
        <a href="/movies" class="btn">Check the movies!</a>
    </div>
</div>
